/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

.navbar {
    background-color: #3333;
    overflow: hidden;
    padding-left: 35%;
}

.navbar a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color:black;
}

#container {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10%;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
	
	
}


#container {
	
}



/* CSS code for styling the image */
img {
    width: 150px; /* Set the width of the image */
    height: 100px; /* Maintain aspect ratio */
    margin: 20px; /* Add some space around the image */
    border-radius: 50%; /* Make the image round */
    border: 2px solid #333; /* Add a border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }



/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
	
	
	
	
} /* closes 481px+ */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */



/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */





